<div class="card">
  <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path issue.photos[0].path, effect: { auto_color: 99 } %>);">
  </div>
  <div class="card-info">
    <div class="card-info-title"><h3><%= issue.title %></h3></div>
    <div class="card-info-description">
      <% if issue.description.split.count > 9 %>
        <p><%= issue.description.split.first(9).join(' ') %>...</p>
      <% else %>
        <p><%= issue.description %></p>
      <% end %>
    </div>
    <div class="card-info-stat">
      <div class="card-info-stat-vote">
        <i class="fas fa-caret-up card-info-icon"></i><p><%= issue.vote_count %></p>
      </div>
      <div class="card-info-stat-vote">
        <i class="fas fa-comment card-info-icon"></i><p><%= issue.comments.count %></p>
      </div>
    </div>
    <%= link_to '', issue_path(issue), class: "card-link" %>
  </div>
</div>
