
<div class="wrapper">
    <div class="container">
      <h5>Bonjour, <%= current_user.username %>, il vous reste <%= @issues.where(fix_status: 0).count %> problèmes à traiter </h5>
      <div class="select"><h6>Trier :</h6>
          <%= simple_form_for :query, url: admin_issues_path, method: :get do |f| %>
          <%= f.input :city, collection: @cities %>
          <%= f.input :element, label: false, as: :radio_buttons, collection: {'Par statut' => :fix_status, 'Par vote' => :vote_count, 'Par date' => :created_at}, placeholder: 'résolu' %>
          <%= f.hidden_field :latitude %>
          <%= f.hidden_field :longitude %>
          <%= f.button :submit %>
      <% end %>
    </div>
      <div class="card-display" id="cards" id="left-screen">
        <div class="row">
          <% @issues.each do |issue| %>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <%= render 'card', issue: issue %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  <div
  id="stickymap"
  data-mkers="<%= @mkers.to_json %>"
  > </div>

</div>

