map.remove();
map = L.mapquest.map('map', {
  center: [0,0],
  layers: L.mapquest.tileLayer('map'),
  zoom: 3
});



function generateRouteInfo(response) {
  routeInfoHtml = `<span id='info-time'>${Math.round(response['route']['time']/60)} min </span><span id='info-distance'>(${Math.round(response['route']['distance']*10)/10} km)</span><p id='info-first-step'>${response['route']['legs'][0]['origNarrative']}</p>`
  routeInfo = document.getElementById('itinerary-info');
  if(routeInfo.style.display === "block") { $('itinerary-info').slideUp() };
  routeInfo.innerHTML = routeInfoHtml;
  const maneuvers = response
  $('#itinerary-info').slideDown();
}

function directionsCallback(error, response) {
  let form = document.getElementById('itinerary-form');
  // routeInfo = document.getElementById('itinerary-info');
  // routeInfo.innerHTML = `Time: ${Math.round(response['route']['time']/60)} min Distance: ${Math.round(response['route']['distance']*10)/10} km`;
  console.log(response['route']['legs'][0]['maneuvers']);
  var directionsLayer = L.mapquest.directionsLayer({
    directionsResponse: response
  }).addTo(map);
    generateRouteInfo(response);
  return map;
}

<% @issues.each do |issue| %>
L.marker([<%= issue.latitude %>, <%= issue.longitude %>], {
  icon: L.mapquest.icons.incident({
    shadow: true,
    size: 'md'
  })
}).addTo(map);
<% end %>

<% if (@route[:route_option] == 'Safest' || @route[:route_option].nil?) %>
  directions.route({
    start: '<%= @route[:start] %>',
    end: '<%= @route[:end] %>',
    options: {
      avoidTimedConditions: false,
      ambiguities: "ignore",
      routeType: "bicycle",
      doReverseGeocode: false,
      enhancedNarrative: false,
      unit: "k",
      mustAvoidLinkIds: linkIds

    }

  }, directionsCallback);

<% elsif @route[:route_option] == 'Fastest' %>
  directions.route({
    start: '<%= @route[:start] %>',
    end: '<%= @route[:end] %>',
    options: {
      avoidTimedConditions: false,
      ambiguities: "ignore",
      routeType: "bicycle",
      doReverseGeocode: false,
      enhancedNarrative: false,
      unit: "k",
      mustAvoidLinkIds: []

    }

  }, directionsCallback);
<% end %>


