<div class="comment-thread">
  <div id="top-comments">
    <% @comments.first(3).each do |comment| %>
    <div class="comment">
      <div class="comment-user">
        <%= cl_image_tag "default-avatar", class: "comment-avatar" %>
        <span><strong><%= comment.user.username %></strong></span>
        <% time_since_post = (DateTime.now - DateTime.parse(comment.created_at.to_s)) %>
        <% if time_since_post > 1 %>
        <p><em>Posted <%= pluralize time_since_post.to_i, 'day' %> ago</em></p>
        <% elsif time_since_post < 1 && time_since_post > 0.04 %>
        <p><em>Posted <%= pluralize (time_since_post * 24).to_i, 'hour' %> ago</em></p>
        <% elsif time_since_post < 0.04 %>
        <p><em>Posted <%= pluralize (time_since_post * 24 * 60).to_i, 'minute' %> ago</em></p>
        <% end %>
      </div>
      <p><%= comment.content %></p>
      <%= link_to comment_path(comment), method: "delete", class: "delete-comment" do %>
      <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
    <% end %>
  </div>
  <div id="all-comments">
    <% @comments.drop(3).each do |comment| %>
    <div class="comment">
      <div class="comment-user">
        <%= cl_image_tag "default-avatar", class: "comment-avatar" %>
        <span><strong><%= comment.user.username %></strong></span>
        <% time_since_post = (DateTime.now - DateTime.parse(comment.created_at.to_s)) %>
        <% if time_since_post > 1 %>
        <p><em>Posted <%= pluralize time_since_post.to_i, 'day' %> ago</em></p>
        <% elsif time_since_post < 1 && time_since_post > 0.04 %>
        <p><em>Posted <%= (time_since_post * 24).to_i %> hours ago</em></p>
        <% elsif time_since_post < 0.04 %>
        <p><em>Posted <%= (time_since_post * 24 * 60).to_i %> minutes ago</em></p>
        <% end %>
      </div>
      <p><%= comment.content %></p>
      <%= link_to comment_path(comment), method: "delete", class: "delete-comment" do %>
      <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
    <% end %>
  </div>
  <% if @comments.size > 3 %>
  <p id="toggle-all-comments"><i class="fas fa-angle-down"></i> See all comments</p>
  <p id="hide-all-comments"><i class="fas fa-angle-up"></i> Hide comments</p>
  <% end %>
</div>
<button id="openCommentFormBtn" class="button button-icon"><i class="fas fa-comments"></i>Add a comment</button>
<div id="comment-form">
  <%= simple_form_for [@issue, @comment] do |f| %>
  <%= f.input :content, label: false, placeholder: "add your comment" %>
  <button type="submit" class="button button-icon"><i class="fas fa-comment"></i>Comment</button>
  <% end %>
</div>
