<h1>Add pictures</h1>

<%= simple_form_for @issue do |f| %>
<div class="photo-form">
<label for="photo-upload">
<span class="button button-icon"><i class="fas fa-camera"></i>Upload</span>
</label>
<%= f.input_field :photos, as: :attachinary, id: "photo-upload", input_html: { class: "button" }%>
</div>
<div class="issue-form hidden">
<%= f.input :title %>
<%= f.input :description %>
<%= f.button :button, 'Add Solution', class: "button button-icon", id: "title-description-save" %>
</div>
<%= f.input :solution, label_html: { class: "hidden", id: "solution-input-label" }, input_html: { class: "hidden", id: "solution-input" } %>
<%= f.submit class: "hidden button" %>
<% end %>
</div>

<style>

  .attachinary_container {
    margin-top: 20px;
  }

  .attachinary_container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .attachinary_container li {
    margin-bottom: 10px;
    list-style: none;
    flex: 1 0 50%;
  }

  .attachinary_container li img {


  }

  .issue-form {
    margin-top: 20px;
  }
  .hidden {
    display: none;
  }

  span.button {
    z-index: 100;
    position: absolute;
    opacity: 1;
    width: 100%;
  }

  span.button:hover {
    opacity: 1;
  }
</style>

<script>
  let formBtn = document.getElementById("title-description-save");
  const firstForm = document.querySelector(".first-form");
  const solutionLabel = document.getElementById("solution-input-label");
  const solutionField = document.querySelector("#solution-input");
  formBtn.addEventListener("click", (e) => {
    e.preventDefault();
    solutionLabel.classList.remove("hidden-input")
    solutionField.classList.remove("hidden-input")
  })

  const removePhotoPrev = document.querySelector("div.attachinary_container > ul > li > a");
  console.log(removePhotoPrev);
</script>
