<%= render 'carousel' %>
<div class="container">
  <div class="issue-card">

    <div class="issue-card-title">
      <div class="issue-title">
        <h2><%= @issue.title %></h2>
      </div>
      <div class="issue-votes">
        <%= link_to issue_votes_path(@issue, direction: 1), method: "post" do %>
          <i class="fas fa-caret-up issue-votes-arrow", style="color: #32B796"></i>
        <% end %>
        <p><%= @issue.vote_count %></p>
        <%= link_to issue_votes_path(@issue, direction: -1), method: "post" do %>
          <i class="fas fa-caret-down issue-votes-arrow", style="color: #E23F36"></i>
        <% end %>
      </div>
    </div>

    <div class="issue-card-username">
      <p>Posted by <%= @issue.user.username %></p>
      <%= cl_image_tag cl_image_tag_or_not(@issue.user.avatar), class: "profile-avatar" %>
    </div>

    <div class="issue-card-status">
      <% if @issue.fix_reports.any?{ |fix_report| fix_report.user == current_user } %>
         <p class="issue-card-status-solved">Marked as solved!</p>
      <% else %>
        <p class="issue-status <%= @issue.fix_status.delete(" ") %>"><%= @issue.fix_status %> </p>
      <% end %>
      <% unless @issue.fix_reports.count >= 3 || @issue.fix_reports.any?{ |fix_report| fix_report.user == current_user } %>
        <p><%= link_to "Resolved?", issue_fix_reports_path(@issue), method: :post, class: "change-status", id: "status-button" %></p>
      <% end %>
    </div>
  </div>

  <div class="issue-card issue-card-other">
    <h3>Description</h3>
    <p><%= @issue.description %></p>
  </div>

  <% if @issue.solution != "" %>
  <div class="issue-card issue-card-other">
    <h3>Solution</h3>
    <p><%= @issue.solution %></p>
  </div>
  <% end %>

  <%= render "comment-thread" %>

</div>
