<% content_for :hide_footer, true %>

<%= render 'carousel' %>

  <div class="issue-card">

  <div class="issue-card-username">
    <%= cl_image_tag cl_image_tag_or_not(@issue.user.avatar), class: "profile-avatar" %>
    <p>Posted by <%= @issue.user.username %></p>
  </div>

  <div class="issue-card-title">
    <h2><%= @issue.title %></h2>
  </div>

  <div class="issue-votes-count">
    <h6 data-issue-id="<%= @issue.id %>" id="vote-count"><%= @issue.vote_count %></h6>
    <p>Importance</p>
    <p>rate</p>
  </div>

  <div class="issue-votes-action">
    <% if current_user.admin? %>
      <% if @issue.resolu? %>
        This issue has been solved
      <% else %>
        <p><%= link_to "Mark this issue as solved", issue_fix_reports_path(@issue), method: :post, class: "change-status", id: "status-button" %></p>
      <% end %>

    <% elsif @issue.votes.any? { |vote| vote.user == current_user } %>

      <div class="issue-votes-action-angry issue-votes-disable">
        <div class="issue-votes-action-angry-text ">
          <i class="far fa-angry"></i>
          <p>Priority</p>
        </div>
      </div>

      <div class="issue-votes-action-care issue-votes-disable">
        <div class="issue-votes-action-care-text">
          <i class="far fa-grin-tongue"></i>
          <p>Not a priority</p>
        </div>
      </div>

    <% else %>

      <div class="issue-votes-action-angry">
        <%= link_to issue_votes_path(@issue, direction: 1), method: "post", id: "upvote", remote: true do %>
        <div class="issue-votes-action-angry-text">
          <i class="far fa-angry"></i>
          <p>Priority</p>
        </div>
        <% end %>
      </div>
      <div class="issue-votes-action-care">
        <%= link_to issue_votes_path(@issue, direction: -1), method: "post", id: "downvote", remote: true do %>
        <div class="issue-votes-action-care-text">
          <i class="far fa-grin-tongue"></i>
          <p>Not a priority</p>
        </div>
        <% end %>
      </div>

    <% end %>
   </div>

  <div class="issue-card-other">
    <h3>Description</h3>
    <p><%= @issue.description %></p>
  </div>

  <% if @issue.solution != "" %>
  <div class="issue-card-other">
    <h3>Solution</h3>
    <p><%= @issue.solution %></p>
  </div>
  <% end %>
  </div>

<div class="container">
  <%= render "comments/comment-thread" %>
</div>

  <% if @issue.user == current_user %>
    <%= link_to issue_path(@issue), method: "delete" do %>
      <button class="button button-icon" style="background-color: #E23F36 !important"><i class="fas fa-trash-alt"></i>Delete issue</button>
    <% end %>
  <% end %>




