<%= render 'carousel' %>
<% sum = 0 %>
<% @issue.votes.each { |vote| sum += vote.direction } %>


<div class="container">
  <div class="issue-title issue-card">
    <div class="title-flex">
      <h2><strong><%= @issue.title %></strong></h2>
      <div class="votes">
        <%= link_to issue_votes_path(@issue, direction: 1), method: "post" do %>
          <i class="fas fa-thumbs-up" style="color: #32B796;"></i>
        <% end %>
        <p style="font-size: 20px;"><%= sum %></p>
        <%= link_to issue_votes_path(@issue, direction: -1), method: "post" do %>
            <i class="fas fa-thumbs-down" style="color: #E23E36;"></i>
        <% end %>
      </div>
    </div>
    <div class="issue-title-username">
      <p>Posted by <%= @issue.user.username %></p>
      <%= cl_image_tag "default-avatar", class: "profile-avatar" %>
    </div>
    <div class="issue-card-status">
      <% if @issue.fix_reports.any?{ |fix_report| fix_report.user == current_user } %>
         <p><em> Marked as solved! </em></p>
      <% else %>
        <p class="issue-status <%= @issue.fix_status.delete(" ") %>"><%= @issue.fix_status %> </p>
      <% end %>
      <% unless @issue.fix_reports.count >= 3 || @issue.fix_reports.any?{ |fix_report| fix_report.user == current_user } %>
        <p><%= link_to "Resolved?", issue_fix_reports_path(@issue), method: :post, class: "change-status", id: "status-button" %></p>
      <% end %>
    </div>
  </div>
  <div class="issue-card">
    <h3>Description</h3>
    <p><%= @issue.description %></p>
  </div>
  <% if @issue.solution != "" %>
  <div class="issue-card">
    <h3>Solution</h3>
    <p><%= @issue.solution %></p>
  </div>
  <% end %>

  <%= render "comment-thread" %>


</div>




