<%= render 'carousel' %>
<% sum = 0 %>
<% @issue.votes.each { |vote| sum += vote.direction } %>
<div class="container">
  <div class="issue-title issue-card">
    <div class="title-flex">
      <h2><strong><%= @issue.title %></strong></h2>
      <div class="votes">
        <%= link_to issue_votes_path(@issue, direction: 1), method: "post" do %>
          <i class="fas fa-thumbs-up" style="color: #32B796;"></i>
        <% end %>
        <p style="font-size: 20px;"><%= sum %></p>
        <%= link_to issue_votes_path(@issue, direction: -1), method: "post" do %>
            <i class="fas fa-thumbs-down" style="color: #E23E36;"></i>
        <% end %>
      </div>
    </div>
    <div class="issue-title-username">
      <p>Posted by <%= @issue.user.username %></p>
      <%= cl_image_tag "default-avatar", class: "profile-avatar" %>
    </div>
    <div class="issue-card-status">
      <% if @issue.fix_reports.any?{ |fix_report| fix_report.user == current_user } %>
         <p><em> Marked as solved! </em></p>
      <% else %>
        <p class="issue-status <%= @issue.fix_status.delete(" ") %>"><%= @issue.fix_status %> </p>
      <% end %>
      <% unless @issue.fix_reports.count >= 3 || @issue.fix_reports.any?{ |fix_report| fix_report.user == current_user } %>
        <p><%= link_to "Resolved?", issue_fix_reports_path(@issue), method: :post, class: "change-status", id: "status-button" %></p>
      <% end %>
    </div>
  </div>
  <div class="issue-card">
    <h3>Description</h3>
    <p><%= @issue.description %></p>
  </div>
  <% if @issue.solution != "" %>
  <div class="issue-card">
    <h3>Solution</h3>
    <p><%= @issue.solution %></p>
  </div>
  <% end %>
  <div class="comment-thread">
    <div id="top-comments">
      <% @comments.first(3).each do |comment| %>
      <div class="comment">
        <div class="comment-user">
          <%= cl_image_tag "default-avatar", class: "comment-avatar" %>
          <span><strong><%= comment.user.username %></strong></span>
          <% time_since_post = (DateTime.now - DateTime.parse(comment.created_at.to_s)) %>
          <% if time_since_post > 1 %>
            <p><em>Posted <%= pluralize time_since_post.to_i, 'day' %> ago</em></p>
          <% elsif time_since_post < 1 && time_since_post > 0.04 %>
            <p><em>Posted <%= pluralize (time_since_post * 24).to_i, 'hour' %> ago</em></p>
          <% elsif time_since_post < 0.04 %>
            <p><em>Posted <%= pluralize (time_since_post * 24 * 60).to_i, 'minute' %> ago</em></p>
          <% end %>
        </div>
        <p><%= comment.content %></p>
        <%= link_to comment_path(comment), method: "delete", class: "delete-comment" do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <% end %>
    </div>
    <div id="all-comments">
      <% @comments.drop(3).each do |comment| %>
      <div class="comment">
        <div class="comment-user">
          <%= cl_image_tag "default-avatar", class: "comment-avatar" %>
          <span><strong><%= comment.user.username %></strong></span>
          <% time_since_post = (DateTime.now - DateTime.parse(comment.created_at.to_s)) %>
          <% if time_since_post > 1 %>
            <p><em>Posted <%= pluralize time_since_post.to_i, 'day' %> ago</em></p>
          <% elsif time_since_post < 1 && time_since_post > 0.04 %>
            <p><em>Posted <%= (time_since_post * 24).to_i %> hours ago</em></p>
          <% elsif time_since_post < 0.04 %>
            <p><em>Posted <%= (time_since_post * 24 * 60).to_i %> minutes ago</em></p>
          <% end %>
        </div>
        <p><%= comment.content %></p>
        <%= link_to comment_path(comment), method: "delete", class: "delete-comment" do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <% end %>
    </div>
    <% if @comments.size > 3 %>
    <p id="toggle-all-comments"><i class="fas fa-angle-down"></i> See all comments</p>
    <p id="hide-all-comments"><i class="fas fa-angle-up"></i> Hide comments</p>
    <% end %>
  </div>

  <button id="openCommentFormBtn" class="button button-icon"><i class="fas fa-comments"></i>Add a comment</button>
  <div id="comment-form">
    <%= simple_form_for [@issue, @comment] do |f| %>
    <%= f.input :content, label: false, placeholder: "add your comment" %>
    <button type="submit" class="button button-icon"><i class="fas fa-comment"></i>Comment</button>
    <% end %>
  </div>

</div>

<style>
  .title-flex {
    display: flex;
  }

  .title-flex h2 {
    margin-top: 0;
    padding-top: 25px;
  }

  .votes {
    padding: 25px 0 12.5px 0;
    margin: 0 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    max-width: 125px;
    flex: 1 1 110px;
  }

  .votes i {
    font-size: 30px;
    color: black;
  }
</style>

