<h1><%= @issue.title %></h1>
<p><%= @issue.description %></p>

<div class="comment-thread">
  <% @comments.each do |comment| %>
  <div class="comment">
    <h6><strong><%= comment.user.username %></strong></h6>
    <p><%= comment.content %></p>
  </div>
  <% end %>
</div>

<button id="openCommentFormBtn" class="button button-icon"><i class="fas fa-comments"></i>Add a comment</button>
<div id="comment-form" class="hidden">
  <%= simple_form_for [@issue, @comment] do |f| %>
  <%= f.input :content, label: false %>
  <%= f.submit class: "button" %>
  <% end %>
</div>





<style>

</style>

<script>
  const commentForm = document.getElementById("comment-form");
  const commentBtn = document.getElementById("openCommentFormBtn");

  commentBtn.addEventListener("click", (e) => {
    e.preventDefault();
    commentForm.classList.remove("hidden")
    commentForm.classList.add("visible");
  })
</script>
