<div class="navbar navbar-default">
   <div class="navbar-display">
    <div class="navbar-btn-menu navbar-left">
      <% if user_signed_in? %>
        <div id="nav-toggle" data-toggle="collapse" data-target="#open-menu" aria-expanded="false"><span></span></div>
      <% end %>
    </div>
    <div class="navbar-logo">
      <% if user_signed_in? && current_user.admin %>
        <%= link_to admin_issues_path, class: "navbar-logo" do %>
          <%= image_tag "logobike.png", height: 55 %>
          <% end %>
      <% else %>
        <%= link_to root_path, class: "navbar-logo" do %>
          <%= image_tag "logobike.png", height: 55 %>
        <% end %>
      <% end %>


    </div>
    <div class="navbar-btn-maplist">
      <% if (current_page?(root_path) || current_page?(issues_path) || current_page?(admin_issues_path)) && user_signed_in? && current_user.admin == false %>
        <i class="fas fa-list-ul hide" id="btn-card"><div><h6 class="h6-btn">Liste</h6></div></i>
        <i class="fas fa-map" id="btn-map"><div><h6 class="h6-btn">Carte</h6></div></i>
      <% end %>
      <% unless user_signed_in? %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-right" %>
      <% end %>
    </div>
  </div>
  <div class="collapse" id="open-menu">
    <ul class="navbar-menu navbar-nav nav">
      <% if user_signed_in? %>
        <li><%= link_to myprofile_path(current_user) do %>
              <i class="fas fa-user"></i> <%= t(".profile", default: "My profile") %>
            <% end  %>
        </li>
        <li><%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i> <%= t(".sign_out", default: "Log out") %>
            <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
